*{font-family: 'Montserrat', sans-serif;}
body{background-color: hsla(150, 80%, 76%, .2);}
/* LISTAGEM DE OKR */
.list-okr{}
.list-okr li{
    background-color: hsla(0, 0%, 0%, .8);
    border-radius: 3px;
    -webkit-box-shadow: 8px 8px 10px 0 hsla(0, 0%, 0%, .1);
    box-shadow: 8px 8px 10px 0 hsla(0, 0%, 0%, .1);
    color: hsla(0, 100%, 100%, .9);
    padding: 1rem;
    margin: 1rem;
    min-width: 300px;
}
.list-okr li:nth-child(2n){background-color: hsla(0, 0%, 0%, .6);}
.list-okr p.title-okr{
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
/* PROGRESS BAR */
.progress-okr{
    background-color: hsla(0, 100%, 100%, .3);
    border-radius: 1px;
    padding: .4rem;
    margin: 1rem 0 0 0;
}
.progress-okr .bar-progress{
    color: hsla(0, 100%, 100%, 1);
    font-weight: 600;
    padding: .2rem;
    text-shadow: 1px 1px 0 hsla(0, 0%, 0%, .4);
}
[data-color="1"] {order:4;}
[data-color="2"] {order:3;}
[data-color="3"] {order:2;}
[data-color="4"] {order:1;}

[data-color="1"] .progress-okr .bar-progress{background-color: hsl(150, 80%, 76%);}
[data-color="2"] .progress-okr .bar-progress{background-color: hsl(44, 87%, 47%);}
[data-color="3"] .progress-okr .bar-progress{background-color: hsl(32, 100%, 44%);}
[data-color="4"] .progress-okr .bar-progress{
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: hsl(0, 100%, 44%);
} 
  @keyframes color {
    0% {
      background-color: hsl(0, 100%, 44%);
    }
    50% {
      background-color: hsla(0, 0%, 0%, .6);
    }
    100 {
      background-color: hsl(0, 100%, 44%);
    }
  }
/* FOOTER */
#footer-default{padding: 1rem;}
#footer-default small{font-size: .7rem;}
#footer-default small strong{color: tomato;}
/* Tablet*/
@media (max-width: 1024px){}
/* Mobile */
@media (max-width: 812px) {}
/*Navegador Mozilla*/
@-moz-document url-prefix(){}
