---
layout: default
---

<div data-limit="1100" class="d-flex">
    <ul class="list-okr d-flex flex1 flex-wrap">
        <li class="d-flex column flex1" data-color="1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="2">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 75%;">75%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="3">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 50%;">50%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="4">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 25%;">25%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="2">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 75%;">75%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="3">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 50%;">50%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="4">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 25%;">25%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="2">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 75%;">75%</span>
            </div>
        </li>
        <li class="d-flex column flex1" data-color="4">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 25%;">25</span>
            </div>
        </li>
    </ul>
</div> 