---
layout: default
---

<div data-limit="1100" class="d-flex">
    <ul class="list-okr d-flex flex1 flex-wrap">
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc por50" style="width: 50%;">50%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
        <li class="d-flex column flex1">
            <p class="title-okr aic jcc">Reduzir o churn de receita (cancelamento) de X% para Y%</p>
            <div class="progress-okr d-flex flex1">
                <span class="bar-progress d-flex aic jcc" style="width: 100%;">100%</span>
            </div>
        </li>
    </ul>
</div> 